 <div class="w-full header flex items-center justify-between">
  <%= link_to user_categories_path do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <h1 class="text-center mb-2">New Category</h1>
  <div></div>
  </div>

<%= form_with(model: @category, url: user_categories_path, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "w-full h-4" %>
  </div>

  <div class="field">
    <%= form.label :Category %>
    <%= form.select :icon, options_for_select([
      ["Education", "education"],
      ["Romance", "romance"],
      ["Adventure", "adventure"],
      ["Fantasy", "fantasy"],
      ["Mystery", "mystery"],
      ["Science Fiction", "science_fiction"],
      ["Thriller", "thriller"]
    ], selected: "romance"), class: "w-full h-4" %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Category' %>
  </div>
<% end %>
